.col-sm-6{
    margin-top: 10px;
}

.card{
    text-align: center;
}

.btn{
    box-sizing: border-box;
    margin: 5px 10px;
}

.btn-link{
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;

}

h1{
    font-size: 36px;
}

